---
import Container from '@components/container/container.astro';
import './style.scss';
import Button from '@components/uikit/Button/Button.astro';
import Title from '@components/uikit/Title/Title.astro';
import Text from '@components/uikit/Text/Text.astro';
import Icon from '@components/uikit/Icon/Icon.astro';
const services = [
    {
        name: 'Гарантия',
        Align: 'right',
        text: 'Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.',
        linkText: 'Подробнее',
        mod: 'guarantee',
        href: 'javascript:void(0);'
    },
    {
        name: 'Сервис',
        Align: 'left',
        mod: 'service',
        text: 'Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.',
        linkText: 'Заказать замер',
        srcset: [
            '/images/service/service.webp'
        ],
        img: '/images/service/service.jpg',
        href: 'javascript:void(0);'
    }
];
---

<section class="service">
    <Container>
        <ul class="service__list">
            {services.map((service) => (
                <li class:list={`service__item ${service.mod? `service__item--${service.mod}`: ''}`}>
                    {service.mod === 'guarantee' ? (
                            <span class='service__digit'>5</span>
                            <span class='service__year'>Лет</span>
                        ):
                            ''
                    }
                    {service.mod === 'service' ? (
                        <picture class="service__wrapper">
                        {service.srcset.map((src) => (
                            <source srcset={src}/>
                        ))}
                        <img src={service.img} alt={service.name} class="service__image"/>
                    </picture>
                    <div class="service__gradient"/>
                    ):''}
                    <Title Tag='h2' class={service.Align === 'left' ? 'service title--left' : 'service title--guarantee'}>{service.name}</Title>
                    <Text class={service.Align === 'left' ? 'service text--left' : 'service text--guarantee'}>{service.text}</Text>
                    <Button TagButton='a' href={service.href} class={service.mod === 'service' ? `button--${service.mod} button--block` : `button--guarantee`}>{service.linkText}</Button>
                </li>
            ))}
        </ul>
    </Container>
</section>