---
import Container from '@components/container/container.astro';
import './style.scss';
import Button from '@components/uikit/Button/Button.astro';
import Title from '@components/uikit/Title/Title.astro';
import Text from '@components/uikit/Text/Text.astro';
import Icon from '@components/uikit/Icon/Icon.astro';
const services = [
    {
        name: 'Гарантия',
        titleAlign: 'right',
        textAlign: 'right',
        text: 'Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.',
        linkText: 'Подробнее',
        mod: 'guarantee'
    },
    {
        name: 'Сервис',
        titleAlign: 'left',
        textAlign: 'left',
        text: 'Мы предоставляем клиентам выезд на замер, консультации на объекте; доставку и подъем продукции; врезку фурнитуры на профессиональном оборудовании; демонтаж и установку межкомнатных дверей; укладку массивной и паркетной доски.',
        linkText: 'Заказать замер',
        mod: 'service'
    }
];
---

<section class="service">
    <Container>
        <ul class="service__list">
            {services.map((service) => (
                <li class:list={`service__item service__item--${service.mod}`}>
                    {service.mod === 'guarantee' ? <Icon mod='five' name='five'/> : ''}
                    {service.mod === 'guarantee' ? <Icon mod='year' name='year'/> : ''}
                    <Title Tag='h2' class={service.titleAlign === 'left' ? 'service title--left' : 'service title--guarantee'}>{service.name}</Title>
                    <Text class={service.textAlign === 'left' ? 'service text--left' : 'service text--guarantee'}>{service.text}</Text>
                    <Button TagButton='a' href="javascript:void(0);" class={service.mod === 'service' ? `button--${service.mod} button--block` : `button--guarantee`}>{service.linkText}</Button>
                </li>
            ))}
        </ul>
    </Container>
</section>