---
import Button from '@components/uikit/Button/Button.astro'
import Icon from '@components/uikit/Icon/Icon.astro'
import './style.scss'
import PriceSlider from '@components/uikit/PriceSlider/PriceSlider.astro';

const filterCollection = [
    {
        dataValue: 'bliss',
        text: 'bliss'
    },
    {
        dataValue: 'urban',
        text: 'urban'
    },
    {
        dataValue: 'perfect',
        text: 'perfect'
    },
    {
        dataValue: 'sonata',
        text: 'sonata'
    },
    {
        dataValue: 'novella',
        text: 'novella'
    },
    {
        dataValue: 'mio',
        text: 'mio'
    },
    {
        dataValue: 'ways',
        text: 'ways'
    },
    {
        dataValue: 'royal',
        text: 'royal'
    },
    {
        dataValue: 'perfect-volume',
        text: 'perfect volume'
    },
];

const filterStyle = [
    {
        dataValue: 'modern',
        text: 'Современный'
    },
    {
        dataValue: 'classic',
        text: 'Классический'
    },
    {
        dataValue: 'neo-classic',
        text: 'Неоклассический'
    },
    {
        dataValue: 'disain',
        text: 'Дизайнерский'
    },
];

const filterColors = [
    {
        src: '/images/card/texture/dark.png',
        value: 'dark',
        text: 'Темный'
    },
    {
        src: '/images/card/texture/brown.png',
        value: 'brown',
        text: 'Коричневый'
    },
    {
        src: '/images/card/texture/beige.png',
        value: 'beige',
        text: 'Бежевый'
    },
    {
        src: '/images/card/texture/gray.png',
        value: 'gray',
        text: 'Серый'
    },
    {
        src: '/images/card/texture/white.png',
        value: 'white',
        text: 'Белый'
    },
    {
        src: '/images/card/texture/marble.png',
        value: 'marble',
        text: 'Мраморный'
    },
    {
        src: '/images/card/texture/yellow.png',
        value: 'yellow',
        text: 'Жёлтый'
    },
    {
        src: '/images/card/texture/green.png',
        value: 'green',
        text: 'Зелёный'
    },
];

const filterTrim = [
    {
        'dataValue': 'enamel',
        text: 'Эмаль'
    },
    {
        'dataValue': 'coating',
        text: 'Покрытие'
    },
];
---

<aside class="aside">
    <div class="aside__wrapper">
        <p class="aside__text">1567 дверей</p>
        <div class="aside__button-wrapper">
            <Button class="button--aside button--pink button--block" id="collectionsButton">Коллекции</Button>
            <Button class="button--aside button--block" id="allDoorsButton">Все двери</Button>
            <Button class="button--filter" type="button">
                <Icon name="filter" mod="filter" />
            </Button>
        </div>
        <form class="aside__filter">
            <div class="filter">
                <div class="filter__opener">
                    Коллекции
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--collection" data-name="collection" data-value="">
                    {
                        filterCollection.map((item) => (
                            <li class="filter__item" data-value={item.dataValue}>{item.text}</li>
                        ))
                    }
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Стиль
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--style" data-name="style" data-value="">
                    {
                        filterStyle.map((item) => (
                            <li class="filter__item" data-value={item.dataValue}>{item.text}</li>
                        ))
                    }
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Цвета
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list-input filter__list--colors">
                    {
                        filterColors.map((item) => (
                            <li class="filter__item">
                                <label class="filter__choice-label">
                                    <img class="filter__choice-textures" src={item.src} />
                                    {item.text}
                                    <input class="filter__choice" type="checkbox" name="color" value={item.value} />
                                </label>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Отделка
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--trim" data-name="finishing" data-value="">
                    {
                        filterTrim.map((item) => (
                            <li class="filter__item" data-value={item.dataValue}>{item.text}</li>
                        ))
                    }
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Цена
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <div class="filter__list">
                    <PriceSlider from={0} to={25000}/>
                </div>
            </div>
            <button class="filter__button filter__button--reset" type="button">
                Сбросить все
                <Icon name="reset" mod="reset" />
            </button>
            <label class="filter__button filter__button--only-action">
                <input type="checkbox" class="filter__btn" name="discount"/>
                <span class="filter__label">Только по акции</span>
            </label>
        </form>
    </div>
</aside>

<script src="./script.js"></script>