---
import Container from '@components/container/container.astro'
import './style.scss'
import Icon from '@components/uikit/Icon/Icon.astro'
import Picture from '@components/Picture/Picture.astro'

interface door  {
    mods: string[],
    textMods?: string[],
    text: string,
    pictureSource?: object[],
    imageSource?: string,
    imageAlt?: string,
    arrowMods?: string[],
    onlyText?: boolean,
    href?: string
}

const doors: door[] = [
    {
        mods: ['full', 'right', 'order-one'],
        textMods: ['top-right', 'white'],
        text: 'Межкомнатные двери',
        pictureSource: [
            {src: '/images/product/inner.webp'}
        ],
        imageSource: '/images/product/inner@2x.jpg',
    },
    {
        mods: ['full', 'scale', 'left', 'order-two'],
        textMods: ['top-left'],
        text: 'Входные двери',
        pictureSource: [
            {src: '/images/product/enter.webp'}
        ],
        imageSource: '/images/product/enter@2x.jpg',
        arrowMods: ['bottom-left'],
    },
    {
        mods: ['image-left', 'image-vertical', 'order-one', 'image-first'],
        textMods: ['relative-top-left'],
        text: 'Скрытые двери',
        pictureSource: [{src: '/images/product/hidden.webp'}],
        imageSource: '/images/product/hidden@2x.jpg',
        arrowMods: ['bottom-left'],
    },
    {
        mods: ['image-vertical', 'image-right', 'order-one'],
        textMods: ['relative-bottom-right'],
        text: 'Декоративные рейки',
        pictureSource: [{src: '/images/product/decorate.webp'}],
        imageSource: '/images/product/decorate@2x.jpg',
        arrowMods: ['top-right'],
    },
    {
        mods: ['full', 'overflow'],
        text: 'Раздвижные двери',
        pictureSource: [{src: '/images/product/door.webp'}],
        imageSource: '/images/product/door@2x.png',
    },
    {
        mods: ['text'],
        textMods: ['right'],
        text: 'В компании ESTET вы можете купить качественные межкомнатные двери. Богатый выбор является гарантией того, что вы обязательно найдете модель, оптимально соответствующую вашим потребностям, пожеланиям и финансовым возможностям.',
        onlyText: true,
    },
    {
        mods: ['text'],
        textMods: ['left'],
        text: 'Мы украшаем жизнь покупателей своей качественной продукцией, даря тепло и уют в их дома, создаем все условия для самореализации сотрудников и успеха партнеров.',
        onlyText: true,
    },
    {
        mods: ['full', 'right', 'big'],
        textMods: ['bottom-left'],
        text: 'Межкомнатные перегородки',
        pictureSource: [{src: '/images/product/partition.webp'}],
        imageSource: '/images/product/partition@2x.jpg',
        arrowMods: ['top-right'],
    },
    {
        mods: ['image-left', 'image-first'],
        textMods: ['relative-bottom-top'],
        text: 'Стеновые панели',
        pictureSource: [{src: '/images/product/panels.webp'}],
        imageSource: '/images/product/panels@2x.jpg',
        arrowMods: ['top-middle'],
    },
    {
        mods: ['image-right'],
        textMods: ['relative-top-bottom'],
        text: 'Плинтусы',
        pictureSource: [{src: '/images/product/boards.webp'}],
        imageSource: '/images/product/boards@2x.jpg',
        arrowMods: ['bottom-right'],
    },
];

---

<section class="product">
    <Container>
        <ul class="product__list">
            {
                doors.map((door) => (
                    <li class={`product__item ${door.mods? door.mods.map(mod => `product__item--${mod}`).join(' ') : ''}`}>
                        <a class='product__link' href={door.href? door.href : 'javascript:void(0);'}>
                            <p class={`product__text ${door.textMods? door.textMods.map(mod => `product__text--${mod}`).join(' ') : ''}`}>{door.text}</p>
                            {!door.onlyText ?
                                <Picture classPicture="product__container" classImage="product__image" image={door.imageSource} srcset={door.pictureSource} alt={door.imageAlt ? door.imageAlt : ''}/>
                                <div class={`product__arrow-container ${door.arrowMods? door.arrowMods.map(mod => `product__arrow-container--${mod}`).join(' ') : ''}`}>
                                    <Icon name='small-arrow'/>
                                </div>
                                : ''
                            }
                        </a>
                    </li>
                ))
            }
        </ul>
    </Container>
</section>