---
import Picture from '@components/Picture/Picture.astro';
import Text from '../Text/Text.astro';
import Title from '../Title/Title.astro';
import './style.scss'


export interface Props {
	slides?: [{
        title: string;
        text: string;
        image: string;
        srcset?: any;
        href?: string;
    }];
}

const {slides} = Astro.props;
---

<div class="intro-slider">
    <div class="intro-slider__slider">
        {
            slides.map((slide) => (
                <div class="intro-slider__slide">
                    <Picture
                        classPicture="intro-slider__wrapper"
                        classImage="intro-slider__image"
                        srcset={slide.srcset? slide.srcset: ''}
                        image={slide.image}
                        alt={slide.title}
                    />
                    <a
                        class="intro-slider__container"
                        href={slide.href? slide.href: 'javascript:void(0);'}
                        title={slide.title}
                    >
                        <Title Tag="h1" class="intro">
                            {slide.title}
                        </Title>
                        <Text class="intro">
                            {slide.text}
                        </Text>
                    </a>
                </div>
            ))
        }
    </div>
    <button class="intro-slider__button intro-slider__button--left"></button>
    <button class="intro-slider__button intro-slider__button--right"></button>
</div>

<script src="./script.js"></script>