---
import Footer from '@components/Footer/Footer.astro';
import Header from '@components/header/Header.astro';
import HeaderInner from '@components/HeaderInner/HeaderInner.astro';
const { title, pageDescription, pageKeywords, pageImage, inner } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
        <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="google" ="notranslate">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="email=no">

        <!-- убрать перед запуском проекта -->
        <meta name="robots" content="noindex">
        <!-- убрать перед запуском проекта -->

        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <!-- Import fonts start -->
        <link rel="stylesheet" href="fonts/webfont-icons/icons.css" crossorigin>
        <link rel="stylesheet" href="fonts/fonts.css" crossorigin>
        <!-- Import fonts end -->
        <title>{title}</title>
        <meta name="generator" content={Astro.generator} />
        <meta name='description' content={pageDescription} />
        <meta name='keywords' content={pageKeywords}/>
        <meta property="og:image" content={pageImage} />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:description" content={pageDescription} />
    </head>
    <body class="page-wrapper">
        {!inner?<Header/>:<HeaderInner/>}
        <main class="main">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global lang="scss">
  @import '../assets/styles/main.scss';
</style>